@import "tailwindcss";

@theme {
  --color-primary: #947360;
  --color-primary-dark: #4F260A;
  --color-primary-light: #F9E3D3;
  
  --color-secondary: #A1AFA0;
  --color-secondary-dark: #193C19;
  --color-secondary-light: #DEF0DC;
  
  --color-dominant: #970C10;
  --color-dominant-dark: #592923;
  --color-dominant-light: #E2C7C0;
  
  --font-sans: 'Manrope', sans-serif;
  
  --animate-scroll-left: scroll-left 30s linear infinite;
  --animate-fade-in: fade-in 0.5s ease-out;
  --animate-slide-up: slide-up 0.5s ease-out;
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slide-up {
  0% { transform: translateY(20px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

/* Остальные ваши стили */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}